/*.caroufredsel_wrapper{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}*/

.caroufredsel_wrapper{
	
	margin-left: 0!important;
}
.caption-after{
	display: block;
	clear: left;
	padding-top: 10px;
}

.caption-after:before {
    background: #eee;
    color: #7a7a7a;
    height: 200px;
    font-size: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    vertical-align: middle;
}

.block-type-featured-posts li {
    text-align:center;
}

.flipper-item{
	display: block !important;
	margin-bottom: 20px;
}

.item-title{
}


.flipper-heading a, 
.flipper-item .item-content a,
.pager a {
	text-decoration: none;
}

/*FIX IMAGE HW*/

.flipper-wrap img {
	height: auto;
}

.flipper-heading {
	z-index: 100;
	position: relative;
	margin-bottom: 7px;
	min-height: 23px;
	line-height: 20px;
}

/* @group Caption */

.flipper-item {
	border: none;
	background-color: transparent;
	padding: 0px;
	margin: 0px;
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	width: auto;
	text-decoration: none;
}

.flipper-item img {
	border-radius: 0;
	height: 100%;
	max-width: none;
}

.flipper-item .item-content {
	font-size: 13px;
	line-height: 160%;
	position: absolute;
	-webkit-transition: all ease-in-out .4s;
	-moz-transition: all ease-in-out .4s;
	-ms-transition: all ease-in-out .4s;
	transition: all ease-in-out .4s;
	width: 100%;
	height: 100%;
	top: 60%;
}

.flipper-item:hover .item-content {
	top: 0 !important;
}

.flipper-item .item-content-pad {
	padding: 20px;
}

.flipper-item .item-content h2 {
	font-size: 22px;
	line-height: 100%;
	margin: 0 0 12px;
}

/* @end */

.flipper-heading .flipper-next,
.flipper-heading .flipper-prev {
	cursor: pointer;
	display: block;
	text-align: center;
	margin-left: 5px;
	-webkit-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	-ms-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
	background-repeat: no-repeat !important;
	position: absolute;
	top: 0px;
	height: 20px;
	width: 20px;
	right: 0px;
}

.flipper-heading .flipper-prev {
	right: 25px;
}

.section-flipper .pl-section-pad {
	overflow: hidden;
	position: relative;
}

.flipper-wrap {
	position: relative;
	margin-left: -10px;
	margin-right: -10px;
}

.flipper-wrap .flipper {
	opacity: 0;
	max-height: 400px;
}

.flipper-wrap .flipper.flipper-loaded {
	max-height: none;
}

.flipper-wrap .flipper-items {
	overflow: hidden;
}

.flipper-wrap .flipper-items > li {
	position: relative;
	display: block;
	float: left;
	margin: 0px 10px 0px 10px;
}

.flipper-wrap .flipper-items > li h3 {
	position: relative;
	top: 0px;
	margin-bottom: 6px;
}

.flipper-wrap .flipper-items > li img {
	width: 100%;
	display: block;
	float: left;
	margin-bottom: 0px;
}

.flipper-wrap .flipper-items .flipper-item {
	position: relative;
}

.flipper-wrap .flipper-items .flipper-item .flipper-info-bg {
	opacity: 0;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.flipper-wrap .flipper-items .flipper-item .flipper-info {
	opacity: 0;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	color: #fff;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.flipper-wrap .flipper-items .flipper-item .flipper-info .info-text {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 9px 15px;
	color: #fff;
	font-size: 12px;
	line-height: 1.3em;
	margin: 5px;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.flipper-wrap .flipper-items .flipper-item .flipper-info .info-text:hover {
	opacity: 0.8;
}

.flipper-wrap .flipper-items .flipper-item .flipper-info .view,
.flipper-wrap .flipper-items .flipper-item .flipper-info .image,
.flipper-wrap .flipper-items .flipper-item .flipper-info .video {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	color: #fff;
	display: block;
}

.flipper-wrap .flipper-items .flipper-item .flipper-info span {
	top: 0px;
	left: 0px;
	position: absolute;
	display: block;
	height: 42px;
	width: 42px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.flipper-wrap .flipper-items .flipper-item .flipper-info .pl-center {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	text-align: center;
	margin-top: 35%;
}

.flipper-wrap .flipper-items .flipper-item .flipper-info .pl-center p {
	padding-bottom: 0px;
}

.flipper-wrap .flipper-items .flipper-item:hover .flipper-info {
	opacity: 1;
}

.flipper-wrap .flipper-items .flipper-item:hover .flipper-info .pl-center {
	padding-top: 20px;
}

.flipper-wrap .flipper-items .flipper-item:hover .flipper-info-bg {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.flipper-wrap .flipper-items .flipper-meta {
	text-align: center;
}

.flipper-wrap .flipper-items .flipper-meta h4.flipper-post-title {
	padding-top: 20px;
}

.flipper-wrap .flipper-items .flipper-meta .flipper-metabar {
	opacity: .6;
}

/* @group Pager */

.pager {
	padding-top: 20px;
	text-align: center;
	margin: 0 auto;
}

.pager a {
	background-color: #e0e0e0;
	text-indent: -999px;
	display: inline-block;
	overflow: hidden;
	width: 10px;
	height: 10px;
	margin: 0 5px 0 0;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.pager a:hover {
	background-color: #acacac;
}

.pager a.selected {
	background-color: #acacac;
}

/* @end */